DROP DATABASE IF EXISTS "%DBCON_JACKRABBIT_DATABASE%";
DROP USER IF EXISTS "%DBCON_JACKRABBIT_USER%";

CREATE USER "%DBCON_JACKRABBIT_USER%" PASSWORD '%DBCON_JACKRABBIT_PASSWORD%';
CREATE DATABASE "%DBCON_JACKRABBIT_DATABASE%" WITH OWNER = "%DBCON_JACKRABBIT_USER%" ENCODING = 'UTF8' TABLESPACE = pg_default;

GRANT ALL PRIVILEGES ON DATABASE "%DBCON_JACKRABBIT_DATABASE%" TO "%DBCON_JACKRABBIT_USER%";
