DROP DATABASE IF EXISTS "%DBCON_HIBERNATE_DATABASE%";
DROP USER IF EXISTS "%DBCON_HIBERNATE_USER%";

CREATE USER "%DBCON_HIBERNATE_USER%" PASSWORD '%DBCON_HIBERNATE_PASSWORD%';
CREATE DATABASE "%DBCON_HIBERNATE_DATABASE%" WITH OWNER = "%DBCON_HIBERNATE_USER%" ENCODING = 'UTF8' TABLESPACE = pg_default;

GRANT ALL PRIVILEGES ON DATABASE "%DBCON_HIBERNATE_DATABASE%" TO "%DBCON_HIBERNATE_USER%";
