DROP DATABASE IF EXISTS "%PG_JACKRABBIT_DATABASE%";
DROP USER IF EXISTS "%PG_JACKRABBIT_USER%";

CREATE USER "%PG_JACKRABBIT_USER%" PASSWORD '%PG_JACKRABBIT_PASSWORD%';
CREATE DATABASE "%PG_JACKRABBIT_DATABASE%" WITH OWNER = "%PG_JACKRABBIT_USER%" ENCODING = 'UTF8' TABLESPACE = pg_default;

GRANT ALL PRIVILEGES ON DATABASE "%PG_JACKRABBIT_DATABASE%" TO "%PG_JACKRABBIT_USER%";
