DROP DATABASE IF EXISTS "%POSTGRES_HIBERNATE_DATABASE%";
DROP USER IF EXISTS "%POSTGRES_HIBERNATE_USER%";

CREATE USER "%POSTGRES_HIBERNATE_USER%" PASSWORD '%POSTGRES_HIBERNATE_PASSWORD%';
CREATE DATABASE "%POSTGRES_HIBERNATE_DATABASE%" WITH OWNER = "%POSTGRES_HIBERNATE_USER%" ENCODING = 'UTF8' TABLESPACE = pg_default;

GRANT ALL PRIVILEGES ON DATABASE "%POSTGRES_HIBERNATE_DATABASE%" TO "%POSTGRES_HIBERNATE_USER%";
