DROP DATABASE IF EXISTS "%POSTGRES_JACKRABBIT_DATABASE%";
DROP USER IF EXISTS "%POSTGRES_JACKRABBIT_USER%";

CREATE USER "%POSTGRES_JACKRABBIT_USER%" PASSWORD '%POSTGRES_JACKRABBIT_PASSWORD%';
CREATE DATABASE "%POSTGRES_JACKRABBIT_DATABASE%" WITH OWNER = "%POSTGRES_JACKRABBIT_USER%" ENCODING = 'UTF8' TABLESPACE = pg_default;

GRANT ALL PRIVILEGES ON DATABASE "%POSTGRES_JACKRABBIT_DATABASE%" TO "%POSTGRES_JACKRABBIT_USER%";
