{
	admin off
	auto_https disable_redirects
	acme_ca {$TLS_CA}
	default_sni {$TLS_DOMAIN}
}

(tls-directives) {
	tls {$TLS_ACCOUNT}
}

(common-directives) {
	encode zstd gzip
	log {
		output stdout
	}
}

(biserver-proxy-subdirectives) {
	header_up Host {http.request.host}
	header_up X-Real-IP {http.request.remote.host}
	header_up X-Forwarded-For {http.request.remote.host}
	header_up X-Forwarded-Host {http.request.host}
	header_up X-Forwarded-Port {http.request.port}
	header_up X-Forwarded-Proto {http.request.scheme}
	header_down Set-Cookie "^(.*)$" "$1; SameSite=None; Secure"

	health_path /pentaho/j_spring_security_check
	health_interval 30s
	health_timeout 15s
	health_status 2xx

	lb_policy ip_hash
}

http://{$TLS_DOMAIN}:80 {
	import common-directives
	redir /* https://{host}{uri} 301
}

https://{$TLS_DOMAIN}:443 {
	import common-directives
	import tls-directives
	reverse_proxy /* {
		to biserver-1:8080 biserver-2:8080
		import biserver-proxy-subdirectives
	}
}
