Hibernate/type=javax.sql.DataSource
Hibernate/driver=org.postgresql.Driver
Hibernate/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/hibernate
Hibernate/user=hibuser
Hibernate/password=password

Quartz/type=javax.sql.DataSource
Quartz/driver=org.postgresql.Driver
Quartz/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/quartz
Quartz/user=pentaho_user
Quartz/password=password

SampleData/type=javax.sql.DataSource
SampleData/driver=org.hsqldb.jdbcDriver
SampleData/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/sampledata
SampleData/user=pentaho_user
SampleData/password=password

SampleDataAdmin/type=javax.sql.DataSource
SampleDataAdmin/driver=org.hsqldb.jdbcDriver
SampleDataAdmin/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/sampledata
SampleDataAdmin/user=pentaho_admin
SampleDataAdmin/password=password
