Hibernate/type=javax.sql.DataSource
Hibernate/driver=org.postgresql.Driver
Hibernate/url=%POSTGRES_HIBERNATE_URL%
Hibernate/user=%POSTGRES_HIBERNATE_USER%
Hibernate/password=%POSTGRES_HIBERNATE_PASSWORD%

Quartz/type=javax.sql.DataSource
Quartz/driver=org.postgresql.Driver
Quartz/url=%POSTGRES_QUARTZ_URL%
Quartz/user=%POSTGRES_QUARTZ_USER%
Quartz/password=%POSTGRES_QUARTZ_PASSWORD%

SampleData/type=javax.sql.DataSource
SampleData/driver=org.hsqldb.jdbcDriver
SampleData/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/sampledata
SampleData/user=pentaho_user
SampleData/password=password

SampleDataAdmin/type=javax.sql.DataSource
SampleDataAdmin/driver=org.hsqldb.jdbcDriver
SampleDataAdmin/url=jdbc:hsqldb:hsql://localhost:%HSQLDB_PORT%/sampledata
SampleDataAdmin/user=pentaho_admin
SampleDataAdmin/password=password
