<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Repository
	PUBLIC "-//The Apache Software Foundation//DTD Jackrabbit 2.0//EN"
	"http://jackrabbit.apache.org/dtd/repository-2.0.dtd">
<Repository>

	<FileSystem class="org.apache.jackrabbit.core.fs.db.DbFileSystem">
		<param name="driver" value="org.postgresql.Driver" />
		<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
		<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
		<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
		<param name="schema" value="postgresql" />
		<param name="schemaObjectPrefix" value="fs_repos_" />
	</FileSystem>

	<DataStore class="org.apache.jackrabbit.core.data.db.DbDataStore">
		<param name="driver" value="org.postgresql.Driver" />
		<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
		<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
		<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
		<param name="databaseType" value="postgresql" />
		<param name="minRecordLength" value="1024" />
		<param name="maxConnections" value="3" />
		<param name="copyWhenReading" value="true" />
		<param name="tablePrefix" value="" />
		<param name="schemaObjectPrefix" value="ds_repos_" />
	</DataStore>

	<Security appName="Jackrabbit">
		<SecurityManager class="org.apache.jackrabbit.core.DefaultSecurityManager" workspaceName="security">
		</SecurityManager>

		<AccessManager class="org.apache.jackrabbit.core.security.DefaultAccessManager">
		</AccessManager>

		<LoginModule class="org.pentaho.platform.repository2.unified.jcr.jackrabbit.security.SpringSecurityLoginModule">
			<param name="anonymousId" value="anonymous" />
			<param name="adminId" value="pentahoRepoAdmin" />
			<param name="principalProvider" value="org.pentaho.platform.repository2.unified.jcr.jackrabbit.security.SpringSecurityPrincipalProvider" />
			<param name="preAuthenticationTokens" value="ZchBOvP8q9FQ" />
			<param name="trust_credentials_attribute" value="pre_authentication_token" />
		</LoginModule>
	</Security>

	<Workspaces rootPath="${rep.home}/workspaces" defaultWorkspace="default" />

	<Workspace name="${wsp.name}">
		<FileSystem class="org.apache.jackrabbit.core.fs.db.DbFileSystem">
			<param name="driver" value="org.postgresql.Driver" />
			<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
			<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
			<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
			<param name="schema" value="postgresql" />
			<param name="schemaObjectPrefix" value="fs_ws_%INSTANCE_ID%_" />
		</FileSystem>

		<PersistenceManager class="org.apache.jackrabbit.core.persistence.bundle.PostgreSQLPersistenceManager">
			<param name="driver" value="org.postgresql.Driver" />
			<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
			<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
			<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
			<param name="schema" value="postgresql" />
			<param name="schemaObjectPrefix" value="${wsp.name}_pm_ws_" />
		</PersistenceManager>

		<SearchIndex class="org.apache.jackrabbit.core.query.lucene.SearchIndex">
			<param name="path" value="${wsp.home}/index" />
			<param name="supportHighlighting" value="true" />
		</SearchIndex>

		<WorkspaceSecurity>
			<AccessControlProvider class="org.apache.jackrabbit.core.security.authorization.acl.PentahoACLProvider" />
		</WorkspaceSecurity>
	</Workspace>

	<Versioning rootPath="${rep.home}/version">
		<FileSystem class="org.apache.jackrabbit.core.fs.db.DbFileSystem">
			<param name="driver" value="org.postgresql.Driver" />
			<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
			<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
			<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
			<param name="schema" value="postgresql" />
			<param name="schemaObjectPrefix" value="fs_ver_%INSTANCE_ID%_" />
		</FileSystem>

		<PersistenceManager class="org.apache.jackrabbit.core.persistence.bundle.PostgreSQLPersistenceManager">
			<param name="driver" value="org.postgresql.Driver" />
			<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
			<param name="user" value="%POSTGRES_JACKRABBIT_USER%" />
			<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
			<param name="schema" value="postgresql" />
			<param name="schemaObjectPrefix" value="pm_ver_" />
		</PersistenceManager>
	</Versioning>

	<Cluster id="%INSTANCE_ID%">
		<Journal class="org.apache.jackrabbit.core.journal.DatabaseJournal">
			<param name="revision" value="${rep.home}/revision.log" />
			<param name="driver" value="org.postgresql.Driver" />
			<param name="url" value="%POSTGRES_JACKRABBIT_URL%" />
			<param name="user" value="%POSTGRES_JACKRABBIT_USER%"/>
			<param name="password" value="%POSTGRES_JACKRABBIT_PASSWORD%" />
			<param name="databaseType" value="postgresql" />
			<param name="janitorEnabled" value="true" />
			<param name="janitorSleep" value="86400" />
			<param name="janitorFirstRunHourOfDay" value="3" />
		</Journal>
	</Cluster>

</Repository>
