{
	admin off
	auto_https disable_redirects
}

(common-directives) {
	encode zstd gzip
	log {
		output stdout
	}
}

(tls-directives) {
	tls {
		issuer {$TLS_ISSUER} {
			dir {$TLS_ISSUER_CA}
			email {$TLS_ISSUER_EMAIL}
		}
	}
}

(security-directives) {
	header /* {
		Referrer-Policy "same-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		-Server
		-X-Powered-By
	}
}

(proxy-subdirectives) {
	header_up Host {http.request.host}
	header_up X-Real-IP {http.request.remote.host}
	header_up X-Forwarded-For {http.request.remote.host}
	header_up X-Forwarded-Host {http.request.host}
	header_up X-Forwarded-Port {http.request.port}
	header_up X-Forwarded-Proto {http.request.scheme}
}

http://{$TLS_DOMAIN}:80 {
	import common-directives
	import security-directives

	redir /* https://{host}{uri} 301
}

https://{$TLS_DOMAIN}:443 {
	import common-directives
	import tls-directives
	import security-directives

	@biserver expression path('/*') && !path('/auth/*')
	reverse_proxy @biserver {
		to biserver:8080
		import proxy-subdirectives
	}

	@keycloak expression path('/auth/*')
	reverse_proxy @keycloak {
		to keycloak:8080
		import proxy-subdirectives
	}
}
