TLS=self_signed
#TLS_CASERVER=acme-v02.api.letsencrypt.org
TLS_CASERVER=acme-staging-v02.api.letsencrypt.org
TLS_DOMAIN=example.localdomain
TLS_EMAIL=user@example.localdomain
TLS_DNSPROVIDER=cloudflare
CLOUDFLARE_EMAIL=user@example.localdomain
CLOUDFLARE_API_KEY=********

DB_MAINTENANCE_PASSWORD=maintenance
DB_JACKRABBIT_USER=jcr_user
DB_JACKRABBIT_PASSWORD=jcr_password
DB_JACKRABBIT_DATABASE=jackrabbit
DB_HIBERNATE_USER=hibuser
DB_HIBERNATE_PASSWORD=hibpassword
DB_HIBERNATE_DATABASE=hibernate
DB_QUARTZ_USER=pentaho_user
DB_QUARTZ_PASSWORD=pentaho_password
DB_QUARTZ_DATABASE=quartz
