DOMAIN=example.localhost
CADDY_TLS=internal
#CADDY_TLS=acme
#CADDY_TLS_KEY=/etc/caddy/certs/server.key
#CADDY_TLS_CERT=/etc/caddy/certs/fullchain.crt
CADDY_ACME_CA=local
#CADDY_ACME_CA=https://acme-v02.api.letsencrypt.org/directory
#CADDY_ACME_CA=https://acme-staging-v02.api.letsencrypt.org/directory

DEFAULT_ADMIN_PASSWORD=password

KEYCLOAK_ADMIN_PASSWORD=password

DB_PASSWORD=password
DB_JACKRABBIT_PASSWORD=password
DB_HIBERNATE_PASSWORD=password
DB_QUARTZ_PASSWORD=password
DB_KEYCLOAK_PASSWORD=password
